@media (min-width: 1024px) and (max-width:1279px) {
    
    .page-section {
        padding: 40px 0;
    }
    
    .content {
        text-align: left;
        margin: 0 auto;
        width: 75%;
    }

    .content p, .content li {
        font-size: 18px;
    }
}