  /* top header */
@media (min-width: 320px) and (max-width:525px) {
    .header-top-bar {
        /* background-color: rgb(237, 188, 104); */
        height: 100px;
        border-bottom: 1px solid black;
        background-color: rgb(254, 254, 254);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .logo-img {
        height: 60px;
        width: 210px;
        margin-left: 0;
    }

    .welcome-msg,.contact-header{
        display: none;
    }



    /* hamburger menu */



   .menu-wraper {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        height: unset;
    }

    .menu li {
        margin: 0;
        border-right: unset;
        padding: 0;
        margin: 10px;
       
    }

    .menu li a:hover{
        color: white;
        background-color: unset;
        padding: unset;
        border-radius: unset;
        border-bottom: unset;
    }
    .menu-item{
        font-size: 17px;
        padding: 0;
    }

    
    .hamburger {
        display: inline-block;
        color: white;
        font-size: larger;
        position: absolute;
        font-size: 40px;
        left: 30px;
        top: 9.5px;
        z-index: 10;
    }


    .header-menu{
        height: unset;
    }

    .menu{
        visibility: hidden;
        
    }


    #toggle:checked + .menu {
        visibility: visible;
        display: block;
        /* margin-top: 42px; */
        transition: all 1s ease-out;
        opacity: 1;
        /* height: 208px; */
        transition: height 0.5s ease-out;
        /* background: linear-gradient(145deg, #4c6b80,#8ea7b8); */
        position: relative;
        right: 25px;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 40vh;
    }

 

}