  /* top header */
@media (min-width: 320px) and (max-width:525px) {
  
    .amz-msg .close-msg-btn {
        position: absolute;
        right: 2px;
        top: 0px;
        background-color: rgba(255, 0, 0, 0);
        color: white;
        font-size: 20px;
        border: 1px solid rgba(255, 0, 0, 0);
    }
  
    .header-top-bar {
        /* background-color: rgb(237, 188, 104); */
        height: 100px;
        background-color: rgb(254, 254, 254);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .logo-img {
        height: 60px;
        width: 210px;
        margin-left: 0;
    }

    .welcome-msg,.contact-header{
        display: none;
    }



    /* hamburger menu */



  
    .menu li {
        margin: 0;
        border-right: unset;
        padding: 0;
        margin: 10px;
       
    }

    .menu li a:hover{
        color: white;
        background-color: unset;
        padding: unset;
        border-radius: unset;
        border-bottom: unset;
    }
    .menu-item{
        font-size: 17px;
        padding: 0;
    }

    .hamburger {
        display: inline-block;
        color: white;
        font-size: larger;
        position: absolute;
        font-size: 30px;
        left: 30px;
        top: 1.2px;
        z-index: 10;
    }


    /* .header-menu{
       
    } */

    /* Default */
    /* .header-menu {
        height: unset;
        overflow: hidden;
        transition: height 0.3s ease-in;
    }

    /* When toggle is checked → make header-menu 40vh */
  
    .menu{
        visibility: hidden;
        opacity: 0;
        /* transition: height 0.5s ease-out; */
        transition: all 0.3s ease-in;
        /* transition: opacity 0.01s ease-out; */
        display: flex;
        flex-direction: column;
        /* display: block; */
        height: 40vh;
        position: relative;
        right: 25px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    
    .header-menu {
        height: 42px;
        /* overflow: hidden; */
        transition: height 0.3s ease-in;
    }


    .menu-wraper{
        position:relative;
        height: 42px;
        /* visibility: hidden; */
    }



    /* When the toggle is checked → expand header */
    .header-menu:has(#toggle:checked) {
        height: 41vh;
    }

     #toggle:checked ~ .menu-wraper{
        height: 40vh;
     }

    #toggle:checked ~ .menu-wraper .menu {
        visibility: visible;
        display: block;
        /* margin-top: 42px; */
        /*  */
        opacity: 1;
        /* height: 208px; */
        height: 40vh;
        
        /* background: linear-gradient(145deg, #4c6b80,#8ea7b8); */
        position: relative;
        right: 25px;
        width: 100%;
        display: flex;
        flex-direction: column;
       
    }


    .beadcrumb {
        height: 200px;
    }

    .beadcrumb a, .beadcrumb p {
        color: white;
        font-size: 25px;
        font-weight: bold;
        font-size: 18px;
    }


    .site-footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }


 
    .site-footer > div {
        max-width: 350px;
        margin: 0 auto;
    }

}