@media (min-width: 320px) and (max-width:525px) {

    .page-section {
      padding: 40px 0;
    }

    .content {
        text-align: left;
        margin: 0 auto;
        width: 80%;
    }

    .content p, .content li {
        font-size: 16px;
    }
}