@media (min-width: 320px) and (max-width:525px) {

    .beadcrumb h1 {
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding: 20px;
    }
    
    .beadcrumb a {
        font-size: 18px;
    }

    .section-title.product-title {
        margin-bottom: 30px;
    }

      /* product details */
    .product-details {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .product-images {
        display: flex;
        width: 100%;
        justify-content: center;
        position: unset;
        flex-direction: column-reverse;
        position: relative;
        top: 0;
        right: 0;
    }

    .product-images > * {
        margin: 10px 0;
    }

    .all-product-images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    
    .featured-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .product-description {
        width: 100%;
        text-align: left;
        /* height: 500px; */
        position: relative;
        right: 30px;
        /* height: 500px; */
        margin: 0 auto;
    }

    .sidebar-products,.featured-products {
       display: none;
    }

    .share-btns {
        display: flex;
        list-style: none;
        justify-content: flex-start;
        padding: 0;
        position: relative;
        align-items: center;
        top: 0;
        /* position: unset; */
        margin: 20px 0 0 0;
        left: 30px;
    }

    .description-article ul{
        width: 100%;
    }

    .share-btns h4{
        font-size: 14px;
        font-weight: 300;
    }
    .view-more {
        text-decoration: none;
        font-size: 18px;
        background-color: #5f9fd3;
        color: white;
        padding: 10px 20px;
        margin-top: 15px;
        display: inline-block;
        width: 150px;
        text-align: center;
    }

}