/* main{
    height: 1000px;

} */
 .beadcrumb{
  
   
    /* background-image: url(../../imgs/breadcrumb-category.jpg); */
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(44, 44, 44, 0.61), 
      rgba(43, 43, 43, 0.617)
    ),
    /* bottom, image */
    url(../../imgs/breadcrumb-category.jpg);
    background-size: cover;
    background-position: center;
  
}
.category-products{
  padding: 80px 0;
}
.category-products-wraper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category-products-wraper .product{
  width: 250px;
  margin: 10px 20px;
  text-align: center;
  border: 1px solid rgb(240, 240, 240);
  padding: 30px 10px;
  border-radius: 10px;
  box-shadow: 10px 7px 35px 13px rgba(237,237,237,0.15);
  -webkit-box-shadow: 10px 7px 35px 13px rgba(237,237,237,0.15);
  -moz-box-shadow: 10px 7px 35px 13px rgba(237,237,237,0.15);
  transition: all 0.4s ease-in;
    
}

.category-products-wraper .product .product-img{
  width: 200px;
  height: 150px;
  object-fit: contain; /* or contain */
  /* width:fit-content;
  width:min-content; */
}

.category-products-wraper .product  .product-title{
  height: 50px;
}

.product:hover{
  background-color: rgba(251, 253, 255, 0.51);
  transform: scale(1.02);
  
}


/* start pagination */

.pagination {
  text-align: center;
  margin: 30px 0;
}

.pagination a,
.pagination span {
  display: inline-block;
  margin: 0 4px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.pagination a:hover {
  background-color: #83c4e9;
    background-color: #0099ff;
    color: white;
    border-color: #007BFF;
}

.pagination .current {
  background-color: #0099ff;
  color: white;
  font-weight: bold;
  border-color: #007BFF;
}
/* end pagination */
