/* main{
    height: 1000px;

} */
 .beadcrumb{
  
   
    background-image: url(../../imgs/breadcrumb-category.jpg);
  
}

.category-products-wraper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category-products-wraper .product{
  width: 250px;
  margin: 10px 20px;
  text-align: center;
  border: 1px solid rgb(240, 240, 240);
  padding: 30px 10px;
  border-radius: 10px;
  box-shadow: 10px 7px 35px 13px rgba(237,237,237,0.15);
  -webkit-box-shadow: 10px 7px 35px 13px rgba(237,237,237,0.15);
  -moz-box-shadow: 10px 7px 35px 13px rgba(237,237,237,0.15);
  transition: all 0.4s ease-in;
    
}

.category-products-wraper .product .product-img{
  width: 200px;
  height: 150px;
  object-fit: contain; /* or contain */
  /* width:fit-content;
  width:min-content; */
}

.category-products-wraper .product  .product-title{
  height: 50px;
}

.product:hover{
  background-color: rgba(251, 253, 255, 0.51);
  transform: scale(1.02);
  
}
