.product-details-section{
    padding: 40px;
}

.section-title.product-title{
    margin-bottom: 0;
}
.product-details{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-details > *{
    margin: 0 20px;
}
.product-images{
    display: flex;
    width: 40%;
    justify-content: center;
    position: relative;
    bottom: 70px;

  
}
.product-images > *{
    margin: 20px;
}
.all-product-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   


}

.all-product-images img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin: 5px;
    object-fit: contain;
    transition: all 0.2s ease-in;

}

.all-product-images img:hover{
   transform: scale(1.1);
}

.featured-image{
    width: 450px;
    height: 450px;
    object-fit: contain;

}

.product-description{
    width: 50%;
    text-align: left;
    /* height: 500px; */
    position: relative;
    right: 30px;
    /* height: 500px; */
}

.sidebar-products{
    width: 20%;
    background-color: rgb(252, 252, 252);
    /* background-color: rgb(52, 55, 65); */
    border-radius: 20px;
   
}


.sidebar-products-wraper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-products-wraper .sidebar-product{
    width: 150px;
    margin:0 10px ;
    padding: 20px;
    /* border: 1px solid rgb(204, 204, 204); */
    border-radius: 10px;
}

.sidebar-products-wraper .sidebar-product .product-img{
    width: 125px;
    height: 100px;
    object-fit: contain;
}

.featured-products-wraper .sidebar-product .product-title{
    height: 40px;
    margin-top: 10px;
}











.description-article{
    text-align: left;
    width: 100%;
   
}

.amz-message{
font-size: 13px;
}

.amz-link{
   margin: 10px 55px;
    -webkit-box-shadow: 1.5px 1.5px 5px 1.5px #EBEBEB; 
    box-shadow: 1.5px 1.5px 5px 1.5px #EBEBEB; 
}

.featured-products{
    /* height: 200px; */
    background-color: rgb(52, 55, 65);
    background-color: #3f97df;
     background-color: rgb(252, 252, 252);
 
    padding: 20px 40px 40px 40px;
}


.featured-products-wraper{
    display: flex;
    justify-content: center;
}

.featured-products-wraper .product{
    width: 200px;
    margin:0 10px ;
    padding: 20px;
    /* border: 1px solid rgb(204, 204, 204); */
    border-radius: 10px;
   
}



.featured-products-wraper .product .product-img{
    width: 150px;
    height: 100px;
    object-fit: contain;
}

.featured-products-wraper .product .product-title{
    height: 40px;
    margin-top: 10px;
}




.share-btns{
    display: flex;
    list-style: none;
    justify-content: flex-start;
    padding: 0;
    position: relative;
    align-items: center;
    top: 40px;
}

.share-btns h4{
    font-weight: 300;
}

.share-btns li a{
    text-decoration: none;
    margin: 5px
}

.share-btns li a i{
    font-size: 40px;
}

.fa-brands.fa-square-x-twitter{
    color: rgb(47, 47, 47);
}

.fa-brands.fa-linkedin{
    color: rgb(0, 119, 255);
}


.social-links .fa-brands.fa-linkedin {
    color: white;
}
