{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/desktop/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/tablet/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/desktop-sm/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/desktop-lg/global.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d495971c43.js" crossorigin="anonymous"></script>
    {% block metatitle %}

    {% endblock %}

    {% block metaseo %}

    {% endblock %}

    {% block css %}

    {% endblock %}
</head>
<body>
    <header>
        
        <div class="header-complete">
            <div class="amz-msg">
                <button class="close-msg-btn">x</button>
                <p>As an Amazon Associate, I earn from qualifying purchases</p>
            </div>
            <div class="header-top-bar">
                <div class="logo">
                    <img class="logo-img" src="{% static 'imgs/logo.png' %}" alt="">
                </div>

                <p class="welcome-msg">Best Amazon Tech Deals</p>

                <div class="contact-header">
                    <p><strong>Email: </strong>shop@leviotech.com</p>
                    <p><strong>Tel: </strong>+357 96916096</p>
                </div>
            </div>

            <div class="header-menu">
                <input type="checkbox" name="checkbox" id="toggle">
                <nav class="menu-wraper">
                    <label class="hamburger" for="toggle">&#9776;</label>
                   
                    <ul class="menu">
                        <li><a class="menu-item" href="{% url 'homepage' %}">Home</a></li>
                        {% for menu_category in menu_categories %}
                        <li><a class="menu-item" href="{% url 'category_detail' slug=menu_category.slug %}">{{menu_category.name}}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
     {% block hero %}

     {% endblock %}
   
    </header>

   

    <main>
        {% block main %}
     

        {% endblock %}

    </main>

    <footer class="site-footer">
        <div class="footer-about">
            <div class="logo">
                <img class="logo-img" src="{% static 'imgs/footer-logo.png' %}" alt="">
            </div>
            <p>Leviotech brings you the best gaming tech — deals, and top Amazon picks.</p>
        </div>

        <div class="footer-links">
            <h4>Quick Links</h4>
            <ul>
            <li><a href="{% url 'category_detail' 'laptops' %}">Gaming Laptops</a></li>
            <li><a href="{% url 'category_detail' 'keyboards' %}">Keyboards</a></li>
            <li><a href="{% url 'category_detail' 'headset' %}">Headsets</a></li>
            <li><a href="{% url 'category_detail' 'mouse' %}">Mouse</a></li>

            </ul>
        </div>

        <div class="footer-legal">
            <ul>
            <li><a href="{% url 'page_detail' slug='privacy-policy' %}">Privacy Policy</a></li>
            <li><a href="{% url 'page_detail' slug='terms-of-service' %}">Terms of Service</a></li>
            <li><a href="{% url 'page_detail' slug='affiliate-disclosure' %}">Affiliate Disclosure</a></li>
            </ul>
            <p>As an Amazon Associate, I earn from qualifying purchases.</p>
            <p>&copy; {{ now.year }} Leviotech. All rights reserved.</p>
        </div>
    </footer>

    {% block scripts %}

    {% endblock %}
     <script src="{% static 'js/global.js' %}"></script>
</body>
</html>