{% extends 'app/base.html' %}
{% load static %}
{% block metatitle %}
 <title>Leviotech - Home</title>
{% endblock %}

{% block metaseo %}
 <!-- Basic SEO -->
    <meta name="description" content="Leviotech brings you the best gaming technology — top-rated laptops, keyboards, headsets, and gear, all carefully selected from Amazon.">
    <meta name="keywords" content="gaming tech, gaming laptops, gaming keyboards, gaming headsets, amazon deals, gaming accessories, Leviotech">
    <meta name="author" content="Leviotech">

    <!-- Canonical URL -->
    <link rel="canonical" href="https://leviotech.com/">

    <!-- Open Graph (Facebook, LinkedIn) -->
    <meta property="og:title" content="Leviotech | Technology for Gamers">
    <meta property="og:description" content="Explore Leviotech for the latest gaming tech — discover top deals on gaming laptops, headsets, and accessories from Amazon.">
    <meta property="og:url" content="https://leviotech.com/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ og_image }}">


     <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Leviotech | Technology for Gamers">
    <meta name="twitter:description" content="Find the best gaming gear and Amazon tech deals at Leviotech.">
    <meta name="twitter:image" content="{{ og_image }}">
    <meta name="twitter:site" content="@Leviotech">



{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/desktop/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/tablet/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/desktop-sm/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/desktop-lg/homepage.css' %}">
{% endblock %}

{% block hero %}
    <div class="slider">
        <div class="slides">
            <div class="slide slide1 ">
                <hgroup>
                    <h1 class="heading">Gear & Accessories Built for Power and Precision</h1>
                    <h2 class="sub-heading">Unlock peak performance with cutting-edge technology, and immersive gaming tools</h2>
                </hgroup>
            </div>

            <div class="slide slide2" >
                <hgroup>
                    <h1 class="heading">Your Ultimate Destination for High-Performance Gaming Tech</h1>
                    <h2 class="sub-heading">Find everything you need to upgrade your gaming world in one place</h2>
                </hgroup>
                
            </div>
            <div class="slide slide3" >
                <hgroup>
                    <h1 class="heading">Peripherals & Tech Engineered for Victory</h1>
                    <h2 class="sub-heading">Experience ultra-fast response times, powerful graphics, and precision engineering</h2>
                </hgroup>            
            </div>
        </div>

        <button class="prev">&#10094;</button>
        <button class="next">&#10095;</button>
    </div>

{% endblock %}

{% block main %}
   <section class="featured-categories">
            
            <div class="featured-categories-wraper">
                <div class="featured-category-wraper">
                    <h3>Gaming Laptops</h3>
                    <div class="featured-category">
                        <img src="{% static 'imgs/featured-categories/laptops.jpg' %}" alt="">
                        <p><span class="enthousiasm">Next-Level</span> Performance Awaits — <span class="enthousiasm">Buy Now!</span>
                        
                        </p>
                    
                    </div>
                     <a href="{% url 'category_detail' slug="laptops" %}" class="view-more category-view-more">View More</a>
                </div>
               


                <div class="featured-category-wraper">
                    <h3>Gaming Keyboards</h3>
                    <div class="featured-category">
                        <img src="{% static 'imgs/featured-categories/keyboards.jpg' %}" alt="">
                        <p>Feel the <span class="enthousiasm">Power</span> in Every <span class="enthousiasm">Keystroke</span> — Shop Now!
                        
                        </p>
                    
                    </div>
                     <a href="{% url 'category_detail' slug="keyboards" %}" class="view-more category-keyboards-view-more ">View More</a>
                </div>

                <div class="featured-category-wraper">
                    <h3>Gaming Headset</h3>
                    <div class="featured-category">
                        <img src="{% static 'imgs/featured-categories/headset.jpg' %}" alt="">
                        <p>Step Into the <span class="enthousiasm">Sound of Victory</span> — Get Yours <span class="enthousiasm">Today!</span>
                        
                        </p>
                    
                    </div>
                    <a href="{% url 'category_detail' slug="headset" %}" class="view-more category-view-more">View More</a>
                </div>

            </div>
    </section>

    <section class="featured-products">
        <img src="{% static 'imgs/gamer-transparent.png' %}" alt="">
        <h2 class="section-title">Featured Products</h2>
        <div class="featured-products-wraper wraper-width">
            {% for featured_product in featured_products %}
                <div class="product">
                    {% if featured_product.get_featured_image %}
                    <img class="product-img" src="{{ featured_product.get_featured_image.image.url }}" alt="{{ featured_product.title }}">
                    {% endif %}
                    <p class="product-title">{{ featured_product.title }}</p>
                    <a class="product-view-more" href="{% url 'product_detail' slug=featured_product.slug %}"  class="amz-link">View More</a>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="call-to-action">
       <h3>Get the Gear. Dominate the Game!</h3>
    </section>

    <section class="best-deals">
       
        <h2 class="section-title">Best Deals</h2>
        <div class="best-deals-wrapper wraper-width">
            <div class="best-deals-left">
                {% for first_four_best_deal in first_four_best_deals %}
                <div class="product">
                    <p class="best-deal-promo">Best Deal</p>
                    {% if first_four_best_deal.get_featured_image %}
                        <img class="product-img" src="{{ first_four_best_deal.get_featured_image.image.url }}" alt="{{ first_four_best_deal.title }}">
                    {% endif %}
                    
                    <p class="product-title">{{ first_four_best_deal.title }}</p>
                    <a class="product-view-more" href="{% url 'product_detail' slug=first_four_best_deal.slug %} ">View More</a>
                </div>

                {% endfor  %}
               
            </div>

            <div class="best-deals-center">
                <div class="product">
                    <p class="best-deal-promo">Best Deal</p>
                    {% if best_deal_star.get_featured_image %}
                        <img class="product-img" src="{{ best_deal_star.get_featured_image.image.url }}" alt="{{ best_deal_star.title }}">
                    {% endif %}
                    
                    <p class="product-title">{{ best_deal_star.title }}</p>
                    <a class="product-view-more" href="{% url 'product_detail' slug=best_deal_star.slug %}">View More</a>
                </div>
            </div>

            <div class="best-deals-right">
               {% for last_four_best_deal in last_four_best_deals %}
                <div class="product">
                     <p class="best-deal-promo">Best Deal</p>
                     {% if last_four_best_deal.get_featured_image %}
                    <img class="product-img" src="{{ last_four_best_deal.get_featured_image.image.url }}" alt="{{ last_four_best_deal.title }}">
                    {% endif %}
                    
                    <p class="product-title">{{ last_four_best_deal.title }}</p>
                    <a class="product-view-more" href="{% url 'product_detail' slug=last_four_best_deal.slug %}" class="amz-link">View More</a>
                </div>

                {% endfor  %}
            </div>
            
        </div>
       
    </section>

    <section class="tabbed-categories">
        <h2 class="section-title">Products by Category</h2>
        <div class="tabs">
            <div class="tab-buttons">
                <button class="tab-btn active" data-tab="tab1">Laptops</button>
                <button class="tab-btn" data-tab="tab2">PC's</button>
                <button class="tab-btn" data-tab="tab3">Keyboards</button>
                <button class="tab-btn" data-tab="tab4">Mouse</button>
                <button class="tab-btn" data-tab="tab5">Headset</button>
                <button class="tab-btn" data-tab="tab6">Gaming Chairs</button>
            </div>

            <div class="tab-content">
                <div id="tab1" class="laptops-tab tab-pane active">
                    <div class="tab-wraper">
                        {% for category_laptop in category_laptops %}
                            <div class="product">
                                {% if category_laptop.get_featured_image %}
                                <img class="product-img" src="{{ category_laptop.get_featured_image.image.url }}" alt="{{ category_laptop.title }}">
                                {% endif %}
                                <p class="product-title">{{ category_laptop.title }}</p>
                                <a class="product-view-more" href="{% url 'product_detail' slug=category_laptop.slug %}">View More</a>
                            </div>
                        {% endfor %}
                    </div>
                    <a href="{% url 'category_detail' slug='laptops' %}" class="tabbed-view-more">More Products</a>
                </div>

                <div id="tab2" class="pc-tab tab-pane">
                        <div class="tab-wraper">
                            {% for category_pc in category_pcs %}
                            <div class="product">
                                {% if category_pc.get_featured_image %}
                                <img class="product-img" src="{{ category_pc.get_featured_image.image.url }}" alt="{{ category_pc.title }}">
                                {% endif %}
                                <p class="product-title">{{ category_pc.title }}</p>
                                <a class="product-view-more" href="{% url 'product_detail' slug=category_pc.slug %}">View More</a>
                            </div>
                            {% endfor %}
                        </div>
                        <a href="{% url 'category_detail' slug='pc' %}" class="tabbed-view-more">More Products</a>
                </div>

                <div id="tab3" class="keyboards-tab tab-pane">
                        <div class="tab-wraper">
                            {% for category_keyboard in category_keyboards %}
                                <div class="product">
                                    {% if category_keyboard.get_featured_image %}
                                    <img class="product-img" src="{{ category_keyboard.get_featured_image.image.url }}" alt="{{ category_keyboard.title }}">
                                    {% endif %}
                                    <p class="product-title">{{ category_keyboard.title }}</p>
                                    <a class="product-view-more" href="{% url 'product_detail' slug=category_keyboard.slug  %}">View More</a>
                                </div>
                            {% endfor %}
                        </div>
                        <a href="{% url 'category_detail' slug='keyboards' %}" class="tabbed-view-more">More Products</a>
                </div>

                <div id="tab4" class="mouse-tab tab-pane">
                    <div class="tab-wraper">
                            {% for category_mouse in category_mouses %}
                                <div class="product">
                                    {% if category_mouse.get_featured_image %}
                                    <img class="product-img" src="{{ category_mouse.get_featured_image.image.url }}" alt="{{ category_mouse.title }}">
                                    {% endif %}
                                    <p class="product-title">{{ category_mouse.title }}</p>
                                    <a class="product-view-more" href="{% url 'product_detail' slug=category_mouse.slug %}">View More</a>
                                </div>
                            {% endfor %}
                        </div>
                        <a href="{% url 'category_detail' slug='mouse' %}" class="tabbed-view-more">More Products</a>
                </div>

                <div id="tab5" class="headset-tab tab-pane">
                    <div class="tab-wraper">
                        {% for category_headset in category_headsets %}
                            <div class="product">
                                {% if category_headset.get_featured_image %}
                                <img class="product-img" src="{{ category_headset.get_featured_image.image.url }}" alt="{{ category_headset.title }}">
                                {% endif %}
                                <p class="product-title">{{ category_headset.title }}</p>
                                <a class="product-view-more" href="{% url 'product_detail' slug=category_headset.slug %}">View More</a>
                            </div>
                        {% endfor %}
                    </div>
                    <a href="{% url 'category_detail' slug='headset' %}" class="tabbed-view-more">More Products</a>
                </div>

                <div id="tab6" class="gaming-chairs-tab tab-pane">
                    <div class="tab-wraper">
                        {% for category_chair in category_chairs %}
                            <div class="product">
                                {% if category_chair.get_featured_image %}
                                <img class="product-img" src="{{ category_chair.get_featured_image.image.url }}" alt="{{ category_chair.title }}">
                                {% endif %}
                                <p class="product-title">{{ category_chair.title }}</p>
                                <a class="product-view-more" href="{% url 'product_detail' slug=category_chair.slug %}">View More</a>
                            </div>
                        {% endfor %}
                    </div>
                      <a href="{% url 'category_detail' slug='gaming-chairs' %}" class="tabbed-view-more">More Products</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block scripts %}
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/tabs.js' %}"></script>
{% endblock %}