/* ≥ 768px: tablets */
@media (min-width: 768px) and (max-width:1023px) {

    /* top header */

    .logo-img {
        height: 60px;
        width: 210px;
        margin-left: 30px;
    }

    .contact-header {
        display: flex;
        padding: 20px 30px 20px 0;
        flex-direction: column;
    }


    /* menu */
    .menu li {
        margin: 2.5px 0;
        border-right: 1px solid white;
        padding: 0 8px;
    }

    .menu-item {
        text-decoration: none;
        color: white;
        font-size: 18px;
        padding: 10px;
    }

    .menu li a:hover {
        color: white;
        background-color: unset;
        
        border-radius: 0;
        border-bottom: none;
        padding: 10px;
    }


    /* footer */
     .site-footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .site-footer > div {
        max-width: 350px;
        margin: 0 auto;
    }


}
