@media (min-width: 768px) and (max-width:1023px) {

   .page-section {
      padding: 40px 0;
    }

    .content {
        text-align: left;
        margin: 0 auto;
        width: 80%;
    }

    .content p, .content li {
        font-size: 17px;
    }

}